@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Styling */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    background: #EFF2F8;
}
a{
    text-decoration: none;
    color: #000;
}
header {
    width: 100%;
    height: 60px;
    background: #10044A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo img {
    height: 40px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 3px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #10044A;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #10044A;
    background: #fefefe;
}

.footer{
    background: #0E072C;
    height: 400px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}
.container {
    background-image: url('hero-img.png'); 
    background-size: cover;
    background-position: center center;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-family: Arial, sans-serif;
}

h1{
    text-transform: uppercase;
    text-shadow: 2px 3px 10px #555;
    font-size: 38px;
}
h4{
    margin-bottom: 25px;
    font-weight: 400;
    text-shadow: 2px 3px 6px #555;

}
#bottom-text{
    margin-top: 14px;
}
form{
    background: #ffffff;
    border-radius: 25px;
    height: 45px;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-radius: 25px;
    font-size: 14px;
    padding: 20px;

}
input:focus{
    outline: none;
}
button#search{
    position: relative;
    left: 270px;
    top: -37px;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: grey;
}
.content {
    text-align: center;
}
.cards{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 80px 100px;
    grid-gap: 80px;
    

}
.card{
    background: #fff;
    width: 350px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease 0.2s;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.img-cont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
img#card{
    display: block;
    width: auto;
    height: 250px;
    padding: 10px 10px 0 10px;
    border-radius: 30px 20px 0 0;
}   
.details{
    padding: 10px 10px;
}
.details>h3{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.details>p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin: 5px 20px;
}
.ask-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    margin-bottom: 50px;
    background: #fff;
}
.ask-section .center h1{
    text-shadow: none;
}
.left{
    width: 150px;
}
img#question{
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.center{
    width: 400px;
}
.right{
    width: 100px;
}
button#question{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: none;
    background: #10044A;
    color: #EFF2F8;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.articles .article-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articles .article-heading h1{
    text-shadow: none;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 10px;
}
.articles .article-heading h4{
    text-shadow: none;
}
.articles .main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px;
    background: #fff;
}
.articles .main-div .row-list{
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
}
.articles .main-div .row-list .for-center{
    margin: 0 0 0 130px;
}
.articles .main-div .row-list h3{
    font-size: 22px;
    padding-bottom: 16px;
}
.articles .main-div .row-list li{
    padding-bottom: 5px;
    font-weight: 500;
}
.articles .main-div .row-list .left{
    width: 600px;
}
.articles .main-div .row-list .right{
    width: 600px;
}

/* Media Queries */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
    .articles .main-div{
        width: 1200px;
    }
    .articles .main-div .row-list .left{
        width: 600px;
    }
    .articles .main-div .row-list .right{
        width: 600px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
    .articles .main-div{
        width: 900px;
    }
    .articles .main-div .row-list .left{
        width: 450px;
    }
    .articles .main-div .row-list .right{
        width: 450px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 25px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #10044A;
        transition: 0.3s;
        overflow: hidden;
        z-index: 2;
    }

    .nav-bar.active {
        height: 350px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .articles .main-div{
        width: 800px;
    }
    .articles .main-div .row-list .left{
        width: 400px;
    }
    .articles .main-div .row-list .right{
        width: 400px;
    }
}
@media only screen and (max-width: 600px) {
    form{
        border-radius: 25px;
        height: 45px;
        width: 80%;
        margin: 0 55px;
    }
    button{
        left: 215px;
        top: -37px;
        width: 30px; 
        height: 30px;
        border-radius: 50%;
        border: none;
        background: none;
        font-size: 18px;
        cursor: pointer;
        color: grey;
    }
    .ask-section{
        flex-direction: column;
        width: 100vw;
        height: 600px;
    }

}